.item {
    width: 80%;
    margin: 5rem auto;
}
.item h2 {
    color: darkgoldenrod;
}
.item table {
    text-align: left;
    padding: 0 2rem;
    width: 100%;
    border: 0;
    margin-top: 3rem;
}

.item table th {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.041);
    color: gray;
}
.item table td {
    width: 70%;
}

.item button {
    margin-top: 3rem;
    background-color: white;
    border-color: darkgoldenrod;
    border-radius: .4rem;
    padding: .5rem .7rem;
    font-size: medium;
    font-weight: 600;
    color: darkgoldenrod;
}
.item button:hover {
    background-color: beige;
}